.navbar {
  position: absolute;
  top: 0;
  z-index: 5;
  color: #fff;
  padding: 40px 0 27px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  left: 50px;
  right: 50px;
}

.logo {
  font-size: 17px;
  white-space: nowrap;
  line-height: 1.3;

  &__link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.75px;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
    }

    span {
      display: block;
      font-size: 12px;
      text-transform: none;
      font-weight: 300;
      letter-spacing: 3.5px;
      opacity: 0.45;
      margin-left: 23px;
    }

    i {
      width: 15px;
      height: 15px;
      position: relative;
      border: 2px solid var(--accent);
      display: inline-block;
      border-radius: var(--radius-style);
      margin-right: 7px;
    }
  }
}

.top-menu {
  margin: 0;
  padding: 0;
  text-align: center;

  &__item {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
    display: block;
    padding: 7.5px 16px;
    border-radius: var(--radius-style);
    transition: var(--transition);

    &:hover,
    &:focus {
      color: #fff;
      background-color: rgba(196, 196, 196, 0.2);
    }
  }
}

span.top-menu__link {
  color: #fff;
  background-color: rgba(196, 196, 196, 0.2);
  border-radius: var(--radius-style);
}
